.file-input {
    display: none;
    box-sizing: border-box;
    width: 80px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.select-button {
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 14px;
    line-height: 1.25;
}