html,
body {
  width: 100%;
  height: 100%;
  background: #fafafa;
}
body {
  width: 100%;
  height: 100%;
  background: #fafafa;
  font-family: '微软雅黑';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
